
html {
	font-family: sans-serif;
	color: #0952c1;
}

p {
	color: #454545;
}

header p {
	color: #fff;
	font-size: 1.5rem;
}

header h2 {
	font-weight: 100;
}

header > h2 {
	font-weight: 600;
}

h2 + p {
	background: #ee0;
	color: #333;
}

h2 ~ h5 {
	font-size: 1.2rem;
}

div ~ p {
	text-transform: uppercase;
}

html {
	font-family: sans-serif;
}

h1, h2, h3 {
	font-weight: 400;
	font-family: 'Limelight', cursive;
}

p {
	font-weight: normal;
	font-size: 1.4rem;
}