
{
    margin: 0;
    padding:0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,p{
    margin-bottom: 20px;
}

<div>{
    padding: 20px;
    margin: 0;
}

.width-100{
    width:100;/* viewport width */
    background-color: aqua;
    padding: 20px;
    height: 400;
    height: 100vh;
}


</div>
